body {
  width: 300px;
  height: 300px;
  font-family: Arial, sans-serif;
  padding: 10px;
  text-align: center;
}

#ip-info h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

#ip-info p {
  font-size: 18px;
  margin: 10px 0;
}

#ip {
  font-size: 22px;
  font-weight: bold;
}

#country {
  font-size: 18px;
  font-weight: bold;
}

#ip-type {
  font-size: 18px;
}

#flag img {
  width: 40px;
  height: auto;
}
